<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-l2auxdata</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>BEAM MERIS L2Auxdata</name>

    <dependency>
        <module>beam-core</module>
    </dependency>

    <categories>System,Processing</categories>

</module>