<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-sdr</symbolicName>
    <version>2.3.1</version>
    <name>MERIS Surface Directional Reflectance (SDR) Processor</name>

    <description>This processor computes the Surface Directional Reflectance (SDR) from MERIS L1B products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        From 2.3.2 to 2.3.3:<br/>
          Added parameter option to include l1-flags into target product.<br/>
        From 2.3 to 2.3.1:<br/>
          Support for MERIS RRG products.<br/>
        From 2.2 to 2.3<br/>
          Adaptions to BEAM API changes.
        From 2.1 to 2.2<br/>
          Adaptions to BEAM API changes.
        <br/>
         From 2.0.1 to 2.1<br/>
          Using different neural net files over land and water to compute cloud top pressure.
        <br/>
        ]]>
    </changelog>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>lib-hdf</module>
    </dependency>

    <categories>Application,Processing</categories>


    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>MERIS SDR - High Quality</name>
            <red>log(0.05 + 0.35 * sdr_2 + 0.6 * sdr_5 + sdr_6 + 0.13 * sdr_7)</red>
            <green>log(0.05 + 0.21 * sdr_3 + 0.5 * sdr_4 + sdr_5 + 0.38 * sdr_6)</green>
            <blue>log(0.05 + 0.21 * sdr_1 + 1.75 * sdr_2 + 0.47 * sdr_3 + 0.16 * sdr_4)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>MERIS SDR - simple</name>
            <red>sdr_7</red>
            <green>sdr_5</green>
            <blue>sdr_2</blue>
        </rgbProfile>
    </extension>
</module>