<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-l2auxdata</symbolicName>
    <version>1.2.5</version>
    <name>MERIS L2 auxiliary data</name>

    <description>
    This modules contains auxiliary data for the BRR, SDR and ICOL processors.
    It originates from the MERIS L2 processor.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Processing</categories>

</module>