<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-brr</symbolicName>
    <version>2.4.1</version>
    <name>MERIS Bottom of Rayleigh Reflectance (BRR) Processor</name>

    <description>This processor computes the "Bottom of Rayleigh" Reflectance (BRR) from MERIS L1B products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    
    <changelog>
        <![CDATA[
        Changes in 2.4.1:<br/>
        - Version for BEAM 5.<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Application,Processing</categories>

</module>