<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-brr</symbolicName>
    <version>2.4</version>
    <name>MERIS Bottom of Rayleigh Reflectance (BRR) Processor</name>

    <description>This processor computes the "Bottom of Rayleigh" Reflectance (BRR) from MERIS L1B products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    
    <changelog>
        <![CDATA[
        <p>From 2.3.2 to 2.4:<br/>
            Switched to BEAM 5 dependencies.<br/>
        <p>From 2.3.2 to 2.3.3:<br/>
            Fix reading of GLint auxiliary data.<br/>
        <p>From 2.3.1 to 2.3.2:<br/>
            Adaptions to BEAM API changes.<br/>
        <p>From 2.3 to 2.3.1:<br/>
            Support for MERIS RRG products.<br/>
        <p>From 2.2 to 2.3:<br/>
            Adaptions to BEAM API changes.<br/>
        <p>From 2.1 to 2.2:<br/>
            Adaptions to BEAM API changes.<br/>
        </p>
        <p>From 2.0.1 to 2.0.2:<br/>
            [ICOL-4] ICOL processor requires a huge amount of cache memory to finish<br/>
        </p> ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-l2auxdata</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Application,Processing</categories>

</module>